.btn {
    background-color: #52575e; /* Blue background */
    border: 2px solid white;
    color: white; /* White text */
    padding: 12px 13px; /* Some padding */
    font-size: 13px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: #7d93e5;
}
